In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sql3

**`Merging and Joining`**

`1`

In [25]:
con = sql3.connect('../data/chinook.db')
df1 = pd.read_sql('Select * from customers', con=con)
df2 = pd.read_sql('Select * from invoices', con=con)
new_df = pd.merge(df1, df2, how='inner', on='CustomerId')
new_df.count()

CustomerId           412
FirstName            412
LastName             412
Company               70
Address              412
City                 412
State                210
Country              412
PostalCode           384
Phone                405
Fax                   84
Email                412
SupportRepId         412
InvoiceId            412
InvoiceDate          412
BillingAddress       412
BillingCity          412
BillingState         210
BillingCountry       412
BillingPostalCode    384
Total                412
dtype: int64

`2`

In [ ]:
df = pd.read_csv('../data/movie.csv')
df_1 = df[['director_name', 'color']]
df_2 = df[['director_name', 'num_critic_for_reviews']]
df_movie = pd.merge(df_1, df_2, on='director_name', how='outer')
df_movie.count()

director_name             19896
color                     30062
num_critic_for_reviews    29741
dtype: int64

**`Grouping and Aggregating`**

`1`

In [44]:
titanic = pd.read_excel('../data/titanic.xlsx')

titanic_grouped = titanic.groupby("Pclass").agg(
    Average_Age=("Age", "mean"),
    Total_Fare=("Fare", "sum"),
    Passenger_Count=("PassengerId", "count")  
).reset_index()
titanic_grouped

   Pclass  Average_Age  Total_Fare  Passenger_Count
0       1    38.233441  18177.4125              216
1       2    29.877630   3801.8417              184
2       3    25.140620   6714.6951              491

In [46]:
df = pd.read_csv('../data/movie.csv')
movie_grouped = df.groupby(['color', 'director_name']).agg(
    total=('num_critic_for_reviews', 'sum'),
    average=('duration', 'mean')
).reset_index()
movie_grouped

                color       director_name  total  average
0     Black and White      Akira Kurosawa  153.0    202.0
1     Black and White      Aleksey German  121.0    177.0
2     Black and White        Alex Garland  489.0    108.0
3     Black and White     Alexander Payne  433.0    115.0
4     Black and White    Alfred Hitchcock  434.0    119.0
...               ...                 ...    ...      ...
2486            Color       Zoran Lisinac   17.0    108.0
2487            Color  Álex de la Iglesia   71.0    104.0
2488            Color    Émile Gaudreault   67.0     92.0
2489            Color        Éric Tessier    9.0     99.0
2490            Color       Étienne Faure    9.0     98.0

[2491 rows x 4 columns]