In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sql3

**`Merging and Joining`**

`1`

In [25]:
con = sql3.connect('../data/chinook.db')
df1 = pd.read_sql('Select * from customers', con=con)
df2 = pd.read_sql('Select * from invoices', con=con)
new_df = pd.merge(df1, df2, how='inner', on='CustomerId')
new_df.count()

CustomerId           412
FirstName            412
LastName             412
Company               70
Address              412
City                 412
State                210
Country              412
PostalCode           384
Phone                405
Fax                   84
Email                412
SupportRepId         412
InvoiceId            412
InvoiceDate          412
BillingAddress       412
BillingCity          412
BillingState         210
BillingCountry       412
BillingPostalCode    384
Total                412
dtype: int64

`2`

In [ ]:
df = pd.read_csv('../data/movie.csv')
df_1 = df[['director_name', 'color']]
df_2 = df[['director_name', 'num_critic_for_reviews']]
df_movie = pd.merge(df_1, df_2, on='director_name', how='outer')
df_movie.count()

director_name             19896
color                     30062
num_critic_for_reviews    29741
dtype: int64

**`Grouping and Aggregating`**

`1`

In [44]:
titanic = pd.read_excel('../data/titanic.xlsx')

titanic_grouped = titanic.groupby("Pclass").agg(
    Average_Age=("Age", "mean"),
    Total_Fare=("Fare", "sum"),
    Passenger_Count=("PassengerId", "count")  
).reset_index()
titanic_grouped

   Pclass  Average_Age  Total_Fare  Passenger_Count
0       1    38.233441  18177.4125              216
1       2    29.877630   3801.8417              184
2       3    25.140620   6714.6951              491

`2`

In [46]:
df = pd.read_csv('../data/movie.csv')
movie_grouped = df.groupby(['color', 'director_name']).agg(
    total=('num_critic_for_reviews', 'sum'),
    average=('duration', 'mean')
).reset_index()
movie_grouped

                color       director_name  total  average
0     Black and White      Akira Kurosawa  153.0    202.0
1     Black and White      Aleksey German  121.0    177.0
2     Black and White        Alex Garland  489.0    108.0
3     Black and White     Alexander Payne  433.0    115.0
4     Black and White    Alfred Hitchcock  434.0    119.0
...               ...                 ...    ...      ...
2486            Color       Zoran Lisinac   17.0    108.0
2487            Color  Álex de la Iglesia   71.0    104.0
2488            Color    Émile Gaudreault   67.0     92.0
2489            Color        Éric Tessier    9.0     99.0
2490            Color       Étienne Faure    9.0     98.0

[2491 rows x 4 columns]

**`Apply`**

`1`

In [14]:
titanic = pd.read_excel('../data/titanic.xlsx')

def f(x):
    if x['Age'] < 18:
        return 'child'
    else:
        return 'adult'

titanic['Age_Group'] = titanic.apply(f, axis=1)
titanic.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,adult
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,adult
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,adult
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,child
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,adult
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,child
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,child
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,adult
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,adult
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,adult
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,child

`2`

In [26]:
employee = pd.read_csv('../data/employee.csv')
employee['SALARY_NORMALIZED'] = employee['BASE_SALARY'].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
employee

`3`

In [29]:
df = pd.read_csv('../data/movie.csv')

def duration(x):
    if x['duration'] < 60:
        return 'short'
    elif x['duration'] >= 60 and x['duration'] < 120:
        return 'medium'
    else:
        return 'long'
    
df['duration_apply'] = df.apply(duration, axis=1)
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,duration_apply
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,long
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,long
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,long
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,long
4,Color,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,long
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,medium
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,short
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,medium
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,medium
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,medium

In [47]:
titanic = pd.read_excel('../data/titanic.xlsx')

titanic_pipeline = (
    titanic[titanic["Survived"] == 1]  
    .assign(Age=lambda df: df["Age"].fillna(df["Age"].mean()))  
    .assign(Fare_Per_Age=lambda df: df["Fare"] / df["Age"])  
)
titanic_pipeline.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_Per_Age
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0.412344
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,2.147914